.container {
  margin-bottom: 10px;
  max-height: 370px;
  max-width: 90%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: auto;
  cursor: pointer;
}

.container > * {
  border: none;
  text-decoration: none;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  padding: 0 10px;
  margin: 0;
}

.container p {
  text-align: justify;
  padding: 20px;
}


.container h1:hover,
.container h1:focus,
.container h1:active {
  color: #0070f3;
  border-color: #0070f3;
}
